# Preprocessing part1

+  base on overview of data, In this section, I will preprocess the data
 + continuous attributes will be discrete as diffrent categories
 + the categorical attribute will be assigned as digit label (note: this is not necessary)
 + delete cons.price.idx (correlated with other attribute))
 + handle unblance data: one-hot (this stage), then oversample and undersample (next stage)
+ To perform SMOTETomek (in next section), all preprocessed attributes will be transformed to one-hot form. 
    + Why: The digit value should not be comparable, they are just "labels"

import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv("data/Assignment3_TrainingSet.csv")
df_train.drop(columns=['row ID'], inplace=True)
print(df_train.shape)
df_train.head(3)

(32950, 21)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,Final_Y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [3]:
df_test = pd.read_csv("data/Assignment3_TestingSet.csv")
df_test.drop(columns=['row ID'], inplace=True)
print(df_test.shape)
df_test.head(3)

(8238, 20)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,146,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,54,management,married,basic.4y,unknown,yes,no,telephone,may,mon,230,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0

In [4]:
attributes = list(df_train.columns)
attributes.remove('Final_Y')
df_train_data = df_train[attributes]
df_train_data.head(3)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0

In [5]:
df_train_label = pd.DataFrame(df_train['Final_Y'])
df_train_label.to_csv("data/602_train_label.csv")

In [6]:
# concat train and test data to preprocess them together
df_prep = pd.concat([df_train_data, df_test])
print(df_prep.shape)
df_prep.head()

(41188, 20)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,198,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0

---
### age
+ assign those >= 60 as 60, while assigning others as independent categories, e.g. 17 as 17

In [52]:
df_prep.loc[:,'age_prep'] = df_prep['age']
df_prep.loc[df_prep['age_prep'] >= 60, 'age_prep'] = 60

In [53]:
df_prep.drop(columns=['age'],inplace=True)

In [54]:
df_prep.head(3)

,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,age_prep
0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,56
1,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,57
2,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,40

In [55]:
print(set(df_prep['age_prep']))

{17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60}

---

### campaign
+ assign those >=12 as 12

In [56]:
df_prep.loc[df_prep['campaign'] >= 12,'campaign'] = 12

In [57]:
set(df_prep['campaign'])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

---

### cons.conf.idx
+ 26 classes

In [9]:
# build dict
conf_idx_dict = {}
keys = sorted(set(df_prep['cons.conf.idx']))
for key in keys:
    conf_idx_dict[key] = len(conf_idx_dict) + 1
print(conf_idx_dict)

{-50.8: 1, -50.0: 2, -49.5: 3, -47.1: 4, -46.2: 5, -45.9: 6, -42.7: 7, -42.0: 8, -41.8: 9, -40.8: 10, -40.4: 11, -40.3: 12, -40.0: 13, -39.8: 14, -38.3: 15, -37.5: 16, -36.4: 17, -36.1: 18, -34.8: 19, -34.6: 20, -33.6: 21, -33.0: 22, -31.4: 23, -30.1: 24, -29.8: 25, -26.9: 26}

In [59]:
for conf_idx in conf_idx_dict.keys():
    df_prep.loc[df_prep['cons.conf.idx'] ==  conf_idx,'conf_idx_prep'] = conf_idx_dict[conf_idx]

In [60]:
set(df_prep['conf_idx_prep'].isnull())

{False}

In [61]:
df_prep.drop(columns=['cons.conf.idx'],inplace=True)

---

### cons.price.idx

+ ä¸Žcons.conf.idxé«˜åº¦ç›¸å…³, åˆ é™¤

In [62]:
df_prep.drop(columns=['cons.price.idx'],inplace=True)

---

###  contact
+ 2 classes

In [63]:
set(df_prep['contact'])

{'cellular', 'telephone'}

In [64]:
df_prep.loc[df_prep['contact'] == 'cellular','contact'] = 1
df_prep.loc[df_prep['contact'] == 'telephone','contact'] = 2

In [65]:
print(set(df_prep['contact']))

{1, 2}

-----

### day_of_week

+ 5 classes

In [66]:
set(df_prep['day_of_week'])

{'fri', 'mon', 'thu', 'tue', 'wed'}

In [67]:
df_prep.loc[df_prep['day_of_week'] == 'mon','day_of_week'] = 1
df_prep.loc[df_prep['day_of_week'] == 'tue','day_of_week'] = 2
df_prep.loc[df_prep['day_of_week'] == 'wed','day_of_week'] = 3
df_prep.loc[df_prep['day_of_week'] == 'thu','day_of_week'] = 4
df_prep.loc[df_prep['day_of_week'] == 'fri','day_of_week'] = 5

In [68]:
print(set(df_prep['day_of_week']))

{1, 2, 3, 4, 5}

---

### default
+ 3 classes

In [69]:
set(df_prep['default'])

{'no', 'unknown', 'yes'}

In [70]:
df_prep.loc[df_prep['default'] == 'no','default'] = 1
df_prep.loc[df_prep['default'] == 'unknown','default'] = 2
df_prep.loc[df_prep['default'] == 'yes','default'] = 3

In [71]:
set(df_prep['default'])

{1, 2, 3}

---

### duration
+ binning

In [72]:
# smaller bins achieves better performace
df_prep.loc[df_prep['duration'] < 50, 'duration_prep'] = 1
df_prep.loc[(df_prep['duration'] >= 50) & (df_prep['duration'] < 100), 'duration_prep'] = 2
df_prep.loc[(df_prep['duration'] >= 100) & (df_prep['duration'] < 150), 'duration_prep'] = 3
df_prep.loc[(df_prep['duration'] >= 150) & (df_prep['duration'] < 200), 'duration_prep'] = 4
df_prep.loc[(df_prep['duration'] >= 200) & (df_prep['duration'] < 250), 'duration_prep'] = 5
df_prep.loc[(df_prep['duration'] >= 250) & (df_prep['duration'] < 300), 'duration_prep'] = 6
df_prep.loc[(df_prep['duration'] >= 300) & (df_prep['duration'] < 350), 'duration_prep'] = 7
df_prep.loc[(df_prep['duration'] >= 350) & (df_prep['duration'] < 400), 'duration_prep'] = 8
df_prep.loc[(df_prep['duration'] >= 400) & (df_prep['duration'] < 450), 'duration_prep'] = 9
df_prep.loc[(df_prep['duration'] >= 450) & (df_prep['duration'] < 500), 'duration_prep'] = 10
df_prep.loc[(df_prep['duration'] >= 500) & (df_prep['duration'] < 550), 'duration_prep'] = 11
df_prep.loc[(df_prep['duration'] >= 550) & (df_prep['duration'] < 600), 'duration_prep'] = 12
df_prep.loc[(df_prep['duration'] >= 600) & (df_prep['duration'] < 650), 'duration_prep'] = 13
df_prep.loc[(df_prep['duration'] >= 650) & (df_prep['duration'] < 700), 'duration_prep'] = 14
df_prep.loc[(df_prep['duration'] >= 700) & (df_prep['duration'] < 750), 'duration_prep'] = 15
df_prep.loc[(df_prep['duration'] >= 750) & (df_prep['duration'] < 800), 'duration_prep'] = 16
df_prep.loc[df_prep['duration'] >= 800, 'duration_prep'] = 17

In [73]:
print(set(df_prep['duration_prep']))

{1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0}

In [74]:
df_prep.drop(columns=['duration'],inplace=True)

---

### education
+ 8 classes

In [10]:
set(df_prep['education'])

{'basic.4y',
 'basic.6y',
 'basic.9y',
 'high.school',
 'illiterate',
 'professional.course',
 'university.degree',
 'unknown'}

In [77]:
df_prep.loc[df_prep['education'] == 'unknown','education'] = 1
df_prep.loc[df_prep['education'] == 'illiterate','education'] = 2
df_prep.loc[df_prep['education'] == 'basic.4y','education'] = 3
df_prep.loc[df_prep['education'] == 'basic.6y','education'] = 4
df_prep.loc[df_prep['education'] == 'basic.9y','education'] = 5
df_prep.loc[df_prep['education'] == 'high.school','education'] = 6
df_prep.loc[df_prep['education'] == 'professional.course','education'] = 7
df_prep.loc[df_prep['education'] == 'university.degree','education'] = 8

In [78]:
set(df_prep['education'])

{1, 2, 3, 4, 5, 6, 7, 8}

---

### emp.var.rate
+ 10 classes

In [79]:
emp_dict = {}
keys = sorted(set(df_prep['emp.var.rate']))
for key in keys:
    emp_dict[key] = len(emp_dict) + 1
print(emp_dict)

{-3.4: 1, -3.0: 2, -2.9: 3, -1.8: 4, -1.7: 5, -1.1: 6, -0.2: 7, -0.1: 8, 1.1: 9, 1.4: 10}

In [80]:
for key in emp_dict.keys():
    df_prep.loc[df_prep['emp.var.rate'] ==  key,'emp_var_rate_prep'] = emp_dict[key]

In [81]:
set(df_prep['emp_var_rate_prep'].isnull())

{False}

In [82]:
df_prep.drop(columns=['emp.var.rate'],inplace=True)

---

### euribor3m
+ [0.6-0.8],[0.8-1.0],[1.0-1.2],[1.2-1.3],[1.3-1.4],[1.4-1.6],[1.6-3.25],[>3.25]

In [85]:
df_prep.loc[df_prep['euribor3m'] < 0.8, 'euribor3m_prep'] = 1
df_prep.loc[(df_prep['euribor3m'] >= 0.8) & (df_prep['euribor3m'] < 1.0), 'euribor3m_prep'] = 2
df_prep.loc[(df_prep['euribor3m'] >= 1.0) & (df_prep['euribor3m'] < 1.2), 'euribor3m_prep'] = 3
df_prep.loc[(df_prep['euribor3m'] >= 1.2) & (df_prep['euribor3m'] < 1.3), 'euribor3m_prep'] = 4
df_prep.loc[(df_prep['euribor3m'] >= 1.3) & (df_prep['euribor3m'] < 1.4), 'euribor3m_prep'] = 5
df_prep.loc[(df_prep['euribor3m'] >= 1.4) & (df_prep['euribor3m'] < 1.6), 'euribor3m_prep'] = 6
df_prep.loc[(df_prep['euribor3m'] >= 1.6) & (df_prep['euribor3m'] < 3.25), 'euribor3m_prep'] = 7
df_prep.loc[df_prep['euribor3m'] >= 3.25, 'euribor3m_prep'] = 8

In [86]:
set(df_prep['euribor3m_prep'].isnull())

{False}

In [87]:
df_prep.drop(columns=['euribor3m'],inplace=True)

---

### housing
+ 3 classes

In [88]:
set(df_prep['housing'])

{'no', 'unknown', 'yes'}

In [89]:
df_prep.loc[df_prep['housing'] == 'unknown','housing'] = 1
df_prep.loc[df_prep['housing'] == 'no','housing'] = 2
df_prep.loc[df_prep['housing'] == 'yes','housing'] = 3

In [90]:
set(df_prep['housing'])

{1, 2, 3}

---

### job
+ 12 classes

In [91]:
job_dict = {}
keys = sorted(set(df_prep['job']))
for key in keys:
    job_dict[key] = len(job_dict) + 1
print(job_dict)

{'admin.': 1, 'blue-collar': 2, 'entrepreneur': 3, 'housemaid': 4, 'management': 5, 'retired': 6, 'self-employed': 7, 'services': 8, 'student': 9, 'technician': 10, 'unemployed': 11, 'unknown': 12}

In [92]:
for key in job_dict.keys():
    df_prep.loc[df_prep['job'] ==  key,'job'] = job_dict[key]

In [93]:
set(df_prep['job'])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

---

### loan
+ 3 classes

In [94]:
df_prep.head(3)

,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,nr.employed,age_prep,conf_idx_prep,duration_prep,emp_var_rate_prep,euribor3m_prep
0,4,married,3,1,2,no,2,may,1,1,999,0,nonexistent,5191.0,56,17.0,6.0,9.0,8.0
1,8,married,6,2,2,no,2,may,1,1,999,0,nonexistent,5191.0,57,17.0,3.0,9.0,8.0
2,1,married,4,1,2,no,2,may,1,1,999,0,nonexistent,5191.0,40,17.0,4.0,9.0,8.0

In [95]:
set(df_prep['loan'])

{'no', 'unknown', 'yes'}

In [96]:
df_prep.loc[df_prep['loan'] == 'unknown','loan'] = 1
df_prep.loc[df_prep['loan'] == 'no','loan'] = 2
df_prep.loc[df_prep['loan'] == 'yes','loan'] = 3

In [97]:
set(df_prep['loan'])

{1, 2, 3}

---

### marital
+ 4 classes

In [98]:
set(df_prep['marital'])

{'divorced', 'married', 'single', 'unknown'}

In [99]:
df_prep.loc[df_prep['marital'] == 'unknown','marital'] = 1
df_prep.loc[df_prep['marital'] == 'single','marital'] = 2
df_prep.loc[df_prep['marital'] == 'divorced','marital'] = 3
df_prep.loc[df_prep['marital'] == 'married','marital'] = 4

In [100]:
set(df_prep['marital'])

{1, 2, 3, 4}

---

### month
+ 10 classes

In [101]:
set(df_prep['month'])

{'apr', 'aug', 'dec', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep'}

In [102]:
df_prep.loc[df_prep['month'] == 'mar','month'] = 1
df_prep.loc[df_prep['month'] == 'apr','month'] = 2
df_prep.loc[df_prep['month'] == 'may','month'] = 3
df_prep.loc[df_prep['month'] == 'jun','month'] = 4
df_prep.loc[df_prep['month'] == 'jul','month'] = 5
df_prep.loc[df_prep['month'] == 'aug','month'] = 6
df_prep.loc[df_prep['month'] == 'sep','month'] = 7
df_prep.loc[df_prep['month'] == 'oct','month'] = 8
df_prep.loc[df_prep['month'] == 'nov','month'] = 9
df_prep.loc[df_prep['month'] == 'dec','month'] = 10

In [103]:
set(df_prep['month'])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

---
### nr.employed
+ 11 classes

In [104]:
employed_dict = {}
keys = sorted(set(df_prep['nr.employed']))
for key in keys:
    employed_dict[key] = len(employed_dict) + 1
print(employed_dict)

{4963.6: 1, 4991.6: 2, 5008.7: 3, 5017.5: 4, 5023.5: 5, 5076.2: 6, 5099.1: 7, 5176.3: 8, 5191.0: 9, 5195.8: 10, 5228.1: 11}

In [105]:
for key in employed_dict.keys():
    df_prep.loc[df_prep['nr.employed'] ==  key,'nr_employed_prep'] = employed_dict[key]

In [106]:
set(df_prep['nr_employed_prep'].isnull())

{False}

In [107]:
df_prep.drop(columns=['nr.employed'],inplace=True)

---

### pdays
+ 0,1,2,3,4,5,6,7,8-998,999

In [108]:
df_prep.loc[(df_prep['pdays'] >= 8) & (df_prep['pdays'] < 999),'pdays'] = 8
df_prep.loc[df_prep['pdays'] == 999,'pdays'] = 9

In [109]:
set(df_prep['pdays'])

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

---

### poutcome
+ ç›´æŽ¥åˆ†ç±»

In [110]:
set(df_prep['poutcome'])

{'failure', 'nonexistent', 'success'}

In [111]:
df_prep.loc[df_prep['poutcome'] == 'nonexistent','poutcome'] = 1
df_prep.loc[df_prep['poutcome'] == 'failure','poutcome'] = 2
df_prep.loc[df_prep['poutcome'] == 'success','poutcome'] = 3

In [112]:
set(df_prep['poutcome'])

{1, 2, 3}

---

### previous 
+ 0, 1, 2, 3, 4, >=5

In [113]:
df_prep.loc[df_prep['previous'] >= 5,'previous'] = 5

In [114]:
set(df_prep['previous'])

{0, 1, 2, 3, 4, 5}

---

## Preview of preprocessed data

In [115]:
df_prep.head(3)

,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,age_prep,conf_idx_prep,duration_prep,emp_var_rate_prep,euribor3m_prep,nr_employed_prep
0,4,4,3,1,2,2,2,3,1,1,9,0,1,56,17.0,6.0,9.0,8.0,9.0
1,8,4,6,2,2,2,2,3,1,1,9,0,1,57,17.0,3.0,9.0,8.0,9.0
2,1,4,4,1,2,2,2,3,1,1,9,0,1,40,17.0,4.0,9.0,8.0,9.0

In [116]:
# transform all float to int
df_prep_int = df_prep.astype(int)
print(df_prep_int.shape)
df_prep_int.head(3)

(41188, 19)

,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,age_prep,conf_idx_prep,duration_prep,emp_var_rate_prep,euribor3m_prep,nr_employed_prep
0,4,4,3,1,2,2,2,3,1,1,9,0,1,56,17,6,9,8,9
1,8,4,6,2,2,2,2,3,1,1,9,0,1,57,17,3,9,8,9
2,1,4,4,1,2,2,2,3,1,1,9,0,1,40,17,4,9,8,9

In [117]:
df_prep_int_train = df_prep_int[:32950]
df_prep_int_test = df_prep_int[32950:]

---

## One-hot encoding

+ Transform all attributes as binary values via one-hot encoding
+ Why: to enable distance-based operations, e.g. oversampling in next stage.

In [121]:
df_prep_distance = df_prep_int.copy()
df_prep_distance.head()

,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,age_prep,conf_idx_prep,duration_prep,emp_var_rate_prep,euribor3m_prep,nr_employed_prep
0,4,4,3,1,2,2,2,3,1,1,9,0,1,56,17,6,9,8,9
1,8,4,6,2,2,2,2,3,1,1,9,0,1,57,17,3,9,8,9
2,1,4,4,1,2,2,2,3,1,1,9,0,1,40,17,4,9,8,9
3,8,4,6,1,2,3,2,3,1,1,9,0,1,56,17,7,9,8,9
4,8,4,5,2,2,2,2,3,1,1,9,0,1,45,17,4,9,8,9

get_dummies() in pandas need to tansform digit labels to string, e.g. 1 -> '1'

In [122]:
# Build dict 
keys = list(range(61))
values = [str(i) for i in keys]
dummy_dict = dict(zip(keys,values))
print(dummy_dict)

{0: '0', 1: '1', 2: '2', 3: '3', 4: '4', 5: '5', 6: '6', 7: '7', 8: '8', 9: '9', 10: '10', 11: '11', 12: '12', 13: '13', 14: '14', 15: '15', 16: '16', 17: '17', 18: '18', 19: '19', 20: '20', 21: '21', 22: '22', 23: '23', 24: '24', 25: '25', 26: '26', 27: '27', 28: '28', 29: '29', 30: '30', 31: '31', 32: '32', 33: '33', 34: '34', 35: '35', 36: '36', 37: '37', 38: '38', 39: '39', 40: '40', 41: '41', 42: '42', 43: '43', 44: '44', 45: '45', 46: '46', 47: '47', 48: '48', 49: '49', 50: '50', 51: '51', 52: '52', 53: '53', 54: '54', 55: '55', 56: '56', 57: '57', 58: '58', 59: '59', 60: '60'}

In [123]:
# apply dict: e.g. transform all 33 to '33'
for curr_col in df_prep_distance.columns:
    for curr_key in dummy_dict.keys():
        df_prep_distance.loc[df_prep_distance[curr_col] == curr_key, curr_col] = dummy_dict[curr_key]

In [124]:
df_prep_distance.head()

,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,age_prep,conf_idx_prep,duration_prep,emp_var_rate_prep,euribor3m_prep,nr_employed_prep
0,4,4,3,1,2,2,2,3,1,1,9,0,1,56,17,6,9,8,9
1,8,4,6,2,2,2,2,3,1,1,9,0,1,57,17,3,9,8,9
2,1,4,4,1,2,2,2,3,1,1,9,0,1,40,17,4,9,8,9
3,8,4,6,1,2,3,2,3,1,1,9,0,1,56,17,7,9,8,9
4,8,4,5,2,2,2,2,3,1,1,9,0,1,45,17,4,9,8,9

In [125]:
# transform to one-hot,to eliminate the meaning of different categories
df_prep_distance_dummy = pd.get_dummies(df_prep_distance)
print(df_prep_distance_dummy.shape)
df_prep_distance_dummy.head()

(41188, 197)

,job_1,job_10,job_11,job_12,job_2,job_3,job_4,job_5,job_6,job_7,...,nr_employed_prep_10,nr_employed_prep_11,nr_employed_prep_2,nr_employed_prep_3,nr_employed_prep_4,nr_employed_prep_5,nr_employed_prep_6,nr_employed_prep_7,nr_employed_prep_8,nr_employed_prep_9
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [126]:
# split back to training and testing dataset
df_prep_distance_dummy_train = df_prep_distance_dummy[:32950]
df_prep_distance_dummy_test = df_prep_distance_dummy[32950:]
print(df_prep_distance_dummy_test.shape)

(8238, 197)

In [127]:
df_prep_distance_dummy_train.to_csv("data/602_train_data_distance.csv")
df_prep_distance_dummy_test.to_csv("data/602_test_data_distance.csv")